@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

:root {
    --gabarito : 'Gabarito', sans-serif;
    --textColor : #2D2525;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    color: var(--textColor);
    font-family: var(--gabarito), sans-serif;
    height: 100vh;
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
}

header{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0;
}

#navDiv{
    height: 100%;
    max-height: 70px;
    width: 100%;
    max-width: 800px;
    inset: 0;
    margin-inline: auto;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink {
    position: relative;
    margin: 50px 60px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10px;
    color: var(--textColor);
}

.navLink:after {
    content: "";
    position: absolute;
    background-color: var(--textColor);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

}

.navLink:hover:after {
    width: 100%;
}


li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

#logo{
    height: 100px;
    margin-left: 20px;
}

#globalDivMenu{
    z-index: 10;
}

#globalDivMenu, #menu-bg, #menu-burger {
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align:center;
    border-radius: 20px;
    right:50px;
    top: 70px;
}

#menu-bg, #menu-burger {
    background: rgba(255, 255, 255, 0.28);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);

    transition: .3s;
    right:50px;
    top: 70px;
    transform:translate3d(50%,-50%,0);
    transform-origin: center center;
    &.fs{
        background: rgba(255, 255, 255, 0.5);
        top: 0;
        right: 0;
        left: -20px;
        width:120%;
        height:110%;
    }
}
#menu-burger {
    background: none;
    color: var(--textColor);
    padding-top: 5px;

    transition: .4s;
    transform-origin: center;
    &.fs {
        transform: rotate(-180deg) translateY(10px);
    }
}

#menu-item{
    position:absolute;
    font-weight: bold;
    font-size: 32px;
    letter-spacing:10px;
    color: var(--textColor);
    width: 100%;
    text-align: center;
    opacity:0;
    transition: .4s;
    margin-top:100px;
    transform: translateY(-200%);
    div {
        transition: 1s;
        opacity: 0;
        margin-top: 0;
    }
    &.fs {
        transform: translate(-400%, -10%);
        pointer-events:auto;
        opacity: 1;
        div{
            opacity: 1;
            margin-top: 75px;
        }
    }
}



@media(max-width:480px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
    }

    #logo{
        height: 80px;
    }
}

@media(max-width: 1440px) {
    body{
        background-size: revert;
    }
}