
main{
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid{
    grid-gap: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.projectsDiv{
    aspect-ratio: 1 / 1;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 300px;
    background-size: cover;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.projectsDiv:hover{
    cursor: pointer;
}

.projectsDiv > p{
    position: relative;
    color: white;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

#widget{
    position: absolute;
    width: 100%;
    max-width: 1000px;
    max-height: 600px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 30px;

    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#widget > img{
    max-height: 500px;
}

#closeButton{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px !important;
}

#textDiv{
    max-height: 500px;
    height: 100%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#textDiv > div{
    display: flex;
    gap: 10px;
}

.key{
    font-weight: bold;
    font-size: 18px;
}

.value{
    font-size: 18px;
}

a{
    margin-top: 30px;
    text-decoration: none;
    color: var(--textColor);
}

#linkDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: aliceblue;
    padding: 0 20px;
    border-radius: 16px;
    cursor: pointer;
}

@media (max-width: 480px) {
    #grid{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    main{
        margin: 100px 20px 0 20px;
    }

    .projectsDiv > p{
        font-size: 20px;
    }

    #widget{
        flex-direction: column;
        z-index: 10;
        width: 90%;
        padding: 30px 10px;
        align-content: center;
    }

    #widget > img{
        max-height: 200px;
    }

    #textDiv{
        display: flex;
        margin-top: 10px;
        margin-left: 10px;
    }

    .key, .value{
        font-size: 16px;
        margin: 3px 0;
    }

    .key{
        height: 16px;
    }
}

@media (max-width: 1440px) {
    main{
        margin-top: 70px;
    }

    #widget{
        max-height: 500px;
        padding: 15px;
        top: 10px;
    }

    #widget > img{
        max-height: 400px;
    }

    #textDiv{
        max-height: 400px;
    }
}